body {
  margin-bottom: 100px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

.nav-link{
  color: white;  
}
.navbar-brand{
  color: white;
}

.landing {
  position: relative;
  background: url("./img/back.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}
.landing-inner {
  padding-top: 80px;
}

.sweet-loading{
  text-align: center;
}

.frost-theme {
  background-image: linear-gradient(to right, #56ab2f, #a8e063
  );
  text-decoration: none;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.reviewHeaders {
  color: black;
  text-align: center;
  background-color: #f7f7f7;
  font-weight: 510;
  font-size: larger;
}

.finalReviewHeader {
  color: black;
  background-color: #f7f7f7;
  margin-top: 1rem;
  font-weight: 300;
  margin-bottom: 0.4rem;
}

.buttonAlignCentre {
  margin-top: 2rem;
  margin-bottom: 0.4rem;
  margin: auto;
  display: block;
}

.centerdiv {
  width: 100%;
  text-align: center;
}

.userdashboard{
  text-align: center;
}
.links{
  color: blue;
  text-decoration: none;
}
#prev-button{
  margin-right: 83%;
}
